body {
	margin: 0 auto;
	width: 70%;
}

h1 {
	margin-top: 1.5em;
	font-size: 32px;
}

h1,h2 {
	font-family: sans-serif;
}

table,th,td {
	border-collapse: separate;
	border: 1px solid black;
	border-style: double;
}

figcaption {
	font-style: italic;
}

figure {
	float: right;
	clear: right; 
}